{% extends 'content/base.html' %}

{% block content %}
    <div class="my-3 p-3 bg-body rounded shadow-sm">
        <div class="row">
            <div class="col-2"></div>
        <div class="col-8">
            <div class="card mb-3">
                <div class="card-header">
                    <div class="row">
                        <div class="col-9">
                            <a href="{% url 'user:profile-view' object.author_id %}"
                               class="d-block text-gray-dark">{{ object.author }}</a>
                            <p>{{ object.publication_date }} </p>
                        </div>
                        {% if user == post.author_id %}
                            <div class="col-3">
                                <a href="{% url 'publication:update-publication' object.pk %}"
                                   class="btn btn-outline-secondary mt-2">Редактировать</a>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="card-body">
                    <h4>{{ object.title }}</h4>
                    <p>{{ object.content }}</p>
                </div>
                <div class="card-footer">
                    {% if is_liked %}
                        <a type="button" class="btn btn-success mr-4"
                           href="{% url 'publication:set-like' object.pk %}">
                            {% include 'content/includes/svg/heart-fill.html' %}
                            {{ like_counter }}
                        </a>
                    {% else %}
                        <a type="button" class="btn btn-outline-success mr-4"
                           href="{% url 'publication:set-like' object.pk %}">
                            {% include 'content/includes/svg/heart.html' %}
                            {{ like_counter }}
                        </a>
                    {% endif %}

                    {% if is_disliked %}
                        <a type="button" class="btn btn-danger mr-4"
                           href="{% url 'publication:set-dislike' object.pk %}">
                            {% include 'content/includes/svg/heart-broken-fill.html' %}
                            {{ dislike_counter }}
                        </a>
                    {% else %}
                        <a type="button" class="btn btn-outline-danger mr-4"
                           href="{% url 'publication:set-dislike' object.pk %}">
                            {% include 'content/includes/svg/heart-broken.html' %}
                            {{ dislike_counter }}
                        </a>
                    {% endif %}
                    {% include 'content/includes/svg/eye.html' %}
                    {{ object.views }}
                </div>
            </div>
        </div>
        </div>
    </div>
{% endblock %}