{% extends 'content/base.html' %}

{% block content %}
    <div class="card mt-4 text-center">
        <div class="card-header">
            <h3>Оплата подписки</h3>
        </div>
        <div class="card-body">
            <p class="lead">Для подписки на пользователя {{ object.username }} оплатите
            подписку</p>
            <p class="lead">Стоимость подписки 1$ в месяц</p>
            <form action="{% url 'create-checkout-session' object.pk %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-success mt-2" id="checkout-button">Оплатить</button>
                <a href="{% url 'user:profile-view' object.pk %}" class="btn btn-danger mt-2">Отмена</a>
            </form>

        </div>
    </div>
{% endblock %}