{% extends 'content/base.html' %}

{% block content %}
    <div class="my-3 p-3 bg-body rounded shadow-sm">
        <ul class="nav nav-tabs mb-4">
            <li class="nav-item">
                <a class="nav-link active"  href="{% url 'user:subscriptions-list' %}">Подписки</a>
            </li>
            {% for subscription in subscriptions %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'user:subscription-posts' subscription.pk %}">{{ subscription }}</a>
                </li>
            {% endfor %}
        </ul>
        {% for post in posts %}
            {% include 'content/includes/include post card.html' %}
        {% endfor %}
    </div>
{% endblock %}