{% extends 'content/base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <img src="../../../media/{{ object.avatar }}" width="200" height="222" class="rounded float-start mt-4"
                 alt="...">
            <div class="col-4">
                <h1 class="mt-4 ml-4">  {{ object.first_name }} {{ object.last_name }}</h1>
                <ul>
                    <li>{{ object.birthday }}</li>
                    <li>{{ object.city }}</li>
                    <li>{{ object.phone }}</li>
                </ul>
                {% if is_current_user %}
                    <a class="btn btn-primary ml-4" href="{% url 'user:profile-update' %}">Редактировать профиль</a>
                {% else %}
                    <a class="btn btn-primary ml-4" href="{% url 'user:subscribe' object.pk %}">Подписаться</a>
                {% endif %}
            </div>
        </div>
    <div class="row">
        {% for post in posts %}
            <p>{{ post }}</p>
        {% endfor %}
    </div>
    </div>
{% endblock %}