<div class="card mb-3">
    <div class="card-header">
        <div class="row">
            <div class="col-8">
                <a href="{% url 'user:profile-view' post.author_id %}"
                   class="d-block text-gray-dark">{{ post.author }}</a>
                <p>{{ post.publication_date }} </p>
            </div>
            {% if user == post.author %}
                <div class="col-2"></div>
                <div class="col-2">
                    <div class="dropdown">
                        <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                                data-bs-toggle="dropdown" aria-expanded="false">
                            {% include 'content/includes/svg/three_points.html' %}
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li class="nav-item">
                                <a href="{% url 'publication:update-publication' post.pk %}"
                                   class="nav-link text-secondary" aria-current="page">
                                    Редактировать
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'publication:delete-publication' post.pk %}"
                                   class="nav-link text-danger" aria-current="page">
                                    Удалить
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="card-body">
        <h4>{{ post.title }}</h4>
        <p>{{ post.content }}</p>
        <a href="{% url 'publication:publication-detail' post.pk %}">просмотр</a>
    </div>
    <div class="card-footer">
        {% include 'content/includes/svg/eye.html' %}
        {{ post.views }}
    </div>
</div>